<div class="container" mt-3 mb-5>
  <h1 class="text^center mb-5">注文完了</h1>

  <div class="text-center mb-5">
    <p>
      ご注文ありがとうございました。
      <br>
      商品の発送まで今しばらくお待ちください。
    </p>
  </div>
</div>
